html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 251, 246);
    margin: 0;
}

.selected {
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-size: 3em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.15em;
}

.header__image {
    margin-left: 1em;
    height: 3em;
}

.subtitle {
    font-size: 2em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.15em;
}

.footer {
    width: 100%;
    background-color: rgb(59, 59, 59);
    box-sizing: border-box;
    padding: 2% 1% 1% 1%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__icons {
    display: flex;
}

.footer__icon {
    width: 2.5vmax;
    margin: 0 0.8vmin 0 0.8vmin;
}

.footer_legals {
    padding: 1.2vw 0 0 0;
    color: white;
}

.footer_legal {
    text-decoration: none;
    font-family: 'Grandstander', cursive;
    font-size: 0.8em;
    color: white;
}

.footer_legal:hover {
    text-decoration: underline;
}

.footer__text {
    color: white;
    margin-top: 5px;
    font-size: 0.7em;
    font-family: 'Grandstander', cursive;
}

.page__date {
    font-family: 'Raleway', sans-serif;
    width: 80%;
    text-align: right;
    margin: 0;
    color: rgb(221, 82, 1);
}

.page__description {
    font-size: 1.4em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.15em;
    width: 80%;
    margin-top: 0.5em;
}

.left {
    text-align: left;
}

.page__title {
    font-size: 2em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.15em;
    width: 80%;
    margin-top: 0.5em;
    line-height: 1.4em;
    text-transform: lowercase;
}

.page__title::first-letter {
    text-transform: uppercase;
}

.center {
    display: flex;
    justify-content: center;
}

.page__imageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__image{
    width: 60%;
}

.page__imageCaption {
    width: 60%;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

.page__note {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.big {
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 800px) {
    .header {
        margin-bottom: 5%;
    }
    .header__title, .header__image {
        display: none;
    }
    .footer__icon {
        width: 4vmax;
    }
    .subtitle {
        font-size: 1.5em;
    }

    .page__description {
        font-size: 1.1em;
        width: 85%;
    }

    .page__image{
        width: 100%;
    }

    .page__note {
        width: 90%;
    }

    .page__imageCaption {
        width: 80%;
        font-size: 0.7em;
    }
}

@media (max-width: 1200px) {
    .page__image{
        width: 85%;
    }
}