.top {
    width: 4.5vmax;
    height: 4.5vmax;
    border-radius: 50%;
    border-style: outset;
    border-color: rgba(182, 72, 8, 0.863);
    background-color: rgba(185, 74, 9, 0.863);
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 0.4s;
    font-size: 3vmax;
    color: rgba(0, 0, 0, 0.815);
    display: none;
}

.top:active, .top:focus {
    outline: none;
}

.top:hover {
    cursor: pointer;
    border-color: rgba(19, 0, 27, 0.61);
    background-color: rgba(0, 0, 0, 0.87);
    color: rgb(168, 62, 0);
}

@media (max-width: 800px) {
    .top {
        width: 5.5vmax;
        height: 5.5vmax;
    }
}